language: php
dist: xenial
os: linux

cache:
  yarn: true
  directories:
    - $HOME/.composer/cache
    - $HOME/symfony-bridge/.phpunit

services:
  - mysql

jobs:
  fast_finish: true
  include:
    - php: 7.4.3
    - php: 7.4.5
    - php: 7.4.7

before_install:
  - cp .env.test .env
  - composer self-update
  - npm install -g node@latest
  - npm install -g npm@latest

install:
  - php -r "echo ini_get('memory_limit').PHP_EOL;"
  - make install

script:
  - make lint
  - make test
  - make phpstan
  - composer validate --strict
