includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    excludes_analyse:
        - src/Migrations/*
    bootstrapFiles:
       - bin/.phpunit/phpunit-7.5-0/vendor/autoload.php
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: false