<div class="hidden xl:text-sm xl:block xl:w-1/4 xl:px-6">
	<div class="flex flex-col justify-between overflow-y-auto sticky max-h-(screen-16) pt-12 pb-4 -mt-12 top-0">
		
		<div id="on-this-page" class="mb-8">
			<h5 class="text-gray-500 uppercase tracking-wide font-bold text-sm lg:text-xs">On this page</h5>
			<ul class="mt-4 overflow-x-hidden animate-pulse space-y-2">
				{% for i in 0..2 %}
					<div class="h-4 bg-gray-400 rounded w-3/4"></div>
				{% endfor %}
			</ul>
		</div>

		<div id="stars-links" class="mb-8">
			<h5 class="text-gray-500 uppercase tracking-wide font-bold text-sm lg:text-xs">Stars links</h5>
			<ul class="mt-4 overflow-x-hidden animate-pulse space-y-2">
				{% for i in 0..2 %}
					<div class="h-4 bg-gray-400 rounded w-3/4"></div>
				{% endfor %}
			</ul>
		</div>

	</div>
</div>