<div class="hidden xl:text-sm xl:block xl:w-1/4 xl:px-6">
	<div class="flex flex-col justify-between overflow-y-auto sticky max-h-(screen-16) pt-12 pb-4 -mt-12 top-0">
		
		<div id="on-this-page" class="mb-8">
			<h5 class="text-gray-500 uppercase tracking-wide font-bold text-sm lg:text-xs">On this page</h5>
			<ul class="mt-4 overflow-x-hidden animate-pulse space-y-2">
				{% for i in 0..2 %}
					<div class="h-4 bg-gray-400 rounded w-3/4"></div>
				{% endfor %}
			</ul>
		</div>

		<div id="stars-links" class="mb-8">
			<h5 class="text-gray-500 uppercase tracking-wide font-bold text-sm lg:text-xs">Stars links</h5>
			<ul class="mt-4 overflow-x-hidden animate-pulse space-y-2">
				{% for i in 0..2 %}
					<div class="h-4 bg-gray-400 rounded w-3/4"></div>
				{% endfor %}
			</ul>
		</div>

		<div class="LI-profile-badge w-full mb-8"  data-version="v1" data-size="medium" data-locale="en_EN" data-type="vertical" data-theme="dark" data-vanity="quentingeeraert">
			<a class="LI-simple-link" target="_blank" href='https://fr.linkedin.com/in/quentingeeraert?trk=profile-badge'>Quentin Geeraert</a>
			<div>
				<div dir="ltr" class="LI-badge-container-vertical-dark LI-badge-container vertical dark medium w-full">
					<div class="LI-profile-badge-header LI-name-container">
						<div class="LI-col">
							<div class="LI-profile-pic-container bg-cover" style="background-image: url(https://static-exp3.licdn.com/sc/h/856xpihrituhwdjrua9z5u5na);">
								<img src="https://static-exp3.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png" class="LI-profile-pic transform -translate-x-1/2" alt="Quentin Geeraert" width="200" height="200">
							</div>
						</div>
						<div class="LI-col LI-header">
							<div class="LI-name">
								<a target="_blank" href="https://fr.linkedin.com/in/quentingeeraert/en-US?trk=profile-badge-name">Quentin Geeraert</a>
							</div>
							<div class="LI-title text-md font-medium">Web developer at 123Bearing</div>
						</div>
					</div>
					<ul class="more-info">
						<li class="LI-field">
							<a target="_blank" class="text-xs" href="https://www.linkedin.com/company/123roulement?trk=profile-badge-company">123Bearing - Fretin</a>
						</li>
						<li class="LI-field">
							<a target="_blank" class="text-xs" href="https://www.linkedin.com/edu/iut-de-lens-202008?trk=profile-badge-school">University Institute of Technology - Lens</a>
						</li>
					</ul>
					<div class="LI-profile-badge-footer">
						<a target="_blank" href="https://fr.linkedin.com/in/quentingeeraert/en-US?trk=profile-badge-cta" class="LI-view-profile inline-block">View profile</a>
						<span class="LI-logo flex justify-end pr-4">
							<img src="https://static-exp3.licdn.com/scds/common/u/images/logos/linkedin/logo_linkedin_flat_white_93x21.png" alt="LinkedIn" class="LI-icon">
						</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>