<div id="sidebar" class="fixed inset-0 h-full bg-white dark:bg-blue-regal-dark z-10 w-full border-b -mb-16 lg:-mb-0 lg:static lg:h-auto lg:overflow-y-visible lg:border-b-0 lg:pt-0 lg:w-1/4 lg:block lg:border-0 xl:w-1/5 hidden pt-24">
	<div id="navWrapper" class="h-full overflow-y-auto scrolling-touch lg:h-auto lg:block lg:relative lg:sticky lg:bg-transparent overflow-hidden lg:top-0 bg-gray-100 dark:bg-blue-regal-dark">
		<div class="hidden lg:block h-16 pointer-events-none absolute inset-x-0 z-10"></div>
		<nav id="nav" class="px-6 pt-6 overflow-y-auto text-base lg:text-sm lg:py-12 lg:pl-6 lg:pr-8 sticky?lg:h-screen">
			<div class="mb-10">
				<a href="{{ path('app_homepage') }}" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 dark:hover:text-gray-400 font-medium text-gray-900 dark:text-gray-400">
					<svg class="h-6 w-6" viewbox="0 0 24 24">
						<path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path>
						<path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path>
					</svg>
					<span class="ml-3">Homepage</span>
				</a>
				<a href="/career" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 dark:hover:text-gray-400 font-medium mt-3 lg:mt-1 text-gray-600">
					<svg class="h-6 w-6" viewbox="0 0 24 24">
						<path class="text-gray-400 fill-current" d="M3 6l9 4v12l-9-4V6zm14-3v2c0 1.1-2.24 2-5 2s-5-.9-5-2V3c0 1.1 2.24 2 5 2s5-.9 5-2z"></path>
						<polygon class="text-gray-700 fill-current" points="21 6 12 10 12 22 21 18"></polygon>
					</svg>
					<span class="ml-3">Career</span>
				</a>
				<a href="/skills" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 dark:hover:text-gray-400 font-medium mt-3 lg:mt-1 text-gray-600">
					<svg class="h-6 w-6" viewbox="0 0 24 24">
						<path class="text-gray-400 fill-current" d="M4 3h16a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2zm0 2v2h2V5H4zm0 4v2h2V9H4zm0 4v2h2v-2H4zm0 4v2h2v-2H4zM18 5v2h2V5h-2zm0 4v2h2V9h-2zm0 4v2h2v-2h-2zm0 4v2h2v-2h-2z"></path>
						<path class="text-gray-700 fill-current" d="M9 5h6a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1zm0 8h6a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1z"></path>
					</svg>
					<span class="ml-3">Skills</span>
				</a>
				<a href="{{ path('app_portfolio') }}" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 dark:hover:text-gray-400 font-medium mt-3 lg:mt-1 text-gray-600">
					<svg class="h-6 w-6" viewbox="0 0 24 24">
						<g fill-rule="evenodd" clip-rule="evenodd">
							<path fill="#CBD5E0" d="M5 3a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2V5a2 2 0 00-2-2H5zm2 3a1 1 0 00-1 1v4a1 1 0 001 1h3a1 1 0 001-1V7a1 1 0 00-1-1H7z"></path>
							<path fill="#4A5568" d="M13 7a1 1 0 011-1h3a1 1 0 110 2h-3a1 1 0 01-1-1zm-7 8a1 1 0 011-1h10a1 1 0 011 1v2a1 1 0 01-1 1H7a1 1 0 01-1-1v-2zm8-5a1 1 0 100 2h3a1 1 0 100-2h-3z"></path>
						</g>
					</svg>
					<span class="ml-3">Portfolio</span>
				</a>
				<a href="/challenges" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 dark:hover:text-gray-400 font-medium mt-3 lg:mt-1 text-gray-600">
					<svg class="h-6 w-6" viewbox="0 0 24 24">
						<path class="text-gray-400 fill-current" d="M9 22c.19-.14.37-.3.54-.46L17.07 14H20a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2H9zM4 2h4a2 2 0 0 1 2 2v14a4 4 0 1 1-8 0V4c0-1.1.9-2 2-2zm2 17.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
						<path class="text-gray-700 fill-current" d="M11 18.66V7.34l2.07-2.07a2 2 0 0 1 2.83 0l2.83 2.83a2 2 0 0 1 0 2.83L11 18.66z"></path>
					</svg>
					<span class="ml-3">Challenges</span>
				</a>
				<a href="/contact" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 dark:hover:text-gray-400 font-medium mt-3 lg:mt-1 text-gray-600">
					<svg class="h-6 w-6" viewbox="0 0 24 24">
						<path class="text-gray-400 fill-current" d="M20.3 12.04l1.01 3a1 1 0 0 1-1.26 1.27l-3.01-1a7 7 0 1 1 3.27-3.27zM11 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
						<path class="text-gray-700 fill-current" d="M15.88 17.8a7 7 0 0 1-8.92 2.5l-3 1.01a1 1 0 0 1-1.27-1.26l1-3.01A6.97 6.97 0 0 1 5 9.1a9 9 0 0 0 10.88 8.7z"></path>
					</svg>
					<span class="ml-3">Contact</span>
				</a>
			</div>
		</nav>
	</div>
</div>