/* The switch_mode - the box around the mode_slider */
.switch_mode {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch_mode input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The mode_slider */
.mode_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mode_slider:before {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .mode_slider {
  background-color: #2196f3;
}

input:focus + .mode_slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .mode_slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded mode_sliders */
.mode_slider.round {
  border-radius: 34px;
}

.mode_slider.round:before {
  border-radius: 50%;
}
